@model IEnumerable<Practica20250411.AppMVCCore.Models.Bodega>

    @{
        ViewData["Title"] = "Buscar Clientes";      
    }
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notas)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notas)
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" title="Editar"> <i class="bi bi-pencil"></i></a>                                
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" title="Detalles"><i class=" bi bi-eye"></i></a>                                 
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success" title="Eliminar"><i class="bi bi-trash-fill"></i></a>
                              </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
